body{
font-family: 'GmarketSansMedium';
margin: 0;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.header_Title{
    font-size: 60px;
    font-weight: 900;
    line-height: 73px;
    margin: 0;

}
.header_SubTitle{
    margin: 0 0 32px;
    line-height: 19px;
}

.GNB{
    background-color: #0a0a0a;
    margin: 0 auto;
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    opacity: 0.9;


}

.GNB ul{
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 300px;

    border-radius: 100px;
}

.GNB li{
    list-style-type: none;
    width: auto;
    height: 20px;
    display: flex;
    margin: 0 6px;
    align-items: center;
}

.GNB li a{
    font-family: 'GmarketSansMedium';
    text-decoration-line: none;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    width: auto;
    padding: 6px 20px;
    border-radius: 100px;
    outline-style: solid;
    outline-color: #fff;
    outline-width: 2px;

}

.GNB li a:checked{
    background-color: #fff;
    color:hsl(0, 0%, 0%);
    font-weight: 600;
}

.GNB li a.active{
    background-color: #fff;
    color:rgb(0, 0, 0);
    font-weight: 600;
}
.header{
    width: 0 auto;
}
.header_slide{
    width: auto;
    height: 904px;
    display: flex;
    flex-direction: column;
    
    background-color:#0a0a0a;
}
.header_01{ 
    width: 1024px;
    height: 124px;
    margin: 0 auto;
    padding: 0px;
    margin-top: 140px;

    display: flex; 
    flex-direction: column;
    align-items: center;  

    color: #fff;    
}

.header_01_TEXT{
    /*폰트*/
    font-family: 'GmarketSansMedium';
    font-size: 40px;
    font-weight:900; 
    text-align: left;
    color: white;
   
    /*범위*/
    width: 70%;
    height: 600px;
    padding: 0 6px;

    background-color: #d38740;
}
.header_01_TEXT pre{
    margin: 0;
}
.header_01_TEXT{
    margin: 0;
}

.favourite_btn{
    position: absolute;
    bottom: 0;
    margin: 60px;
    position: fixed;
}

.favourite_btn img{
    width: 80px;
    height: 80px;
}

body{
    background-color: #0a0a0a;
    color: #fff;
}
.album{
    display: flex;
    flex-direction:column;
    width:100%;
    height: 750px;
}
.album p{
    text-align: center;
    font-size: 40px
}
.album ul{
    display: flex; 
    padding: 0 0px;/* 추가: 기본 padding 제거 */
    margin: 0 ; /* 추가: 기본 margin 제거 */
    width: 100%; /* ul의 너비를 부모에 맞추기 */
gap: 20px;
    justify-content: center;
}
.album_list{
    list-style: none;
    width: 17%;
    height: 300px;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
}





